<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script language="javascript" type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js' type='text/javascript'></script>
    <script language="javascript" type="text/javascript" src="javascript/underscore-min.js"></script>
    <script language="javascript" type="text/javascript" src="javascript/bootstrap-modal.js"></script>
    <script language="javascript" type="text/javascript" src="javascript/bootstrap-tabs.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDCEhOTsxuuXVPsHbA4rPofhK1azdoF7-M&sensor=true"></script>

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  </head>
  <body>
    <img src="<%= @event.flyer.thumb.url %>" style="float:left; margin-right:20px" />
    <form action="/events/update/<%= @event.id %>"  enctype="multipart/form-data" method="post">
      <label for "band_name">Band Name:</label><br />
      <input type="text" name="band_name" id = "band_name" /><br />
      <br /><br />
      <label for="location_name">Suggested Location:</label><br />
      <input name="location_name" id= "location_name" type="text" value="<%= @event.location.name %>" /><br />
      <input name="location_id" id="location_id" type="hidden" value="<%= @event.location.id %>" /><br />
      (* You can change the location by starting to type in the text box and selecting a new location)
      <br /><br />
      <label for = "start" >Date</label><br />
      <input type="text" class="datepicker" id="start" name="start" />
      <br /><br />
      <input type="submit" />
      <script type="text/javascript">
      
      $(document).ready(function(){
        
        $('#location_name').autocomplete({
			    source: "/locations.json",
			    minLength: 2,  
			    select: function (event, ui){
			      $("#location_id").val(ui.item.id);
			    }
			  });
      });
      
      </script>
  </body>
</html>
