<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
            "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <script language="javascript" type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js' type='text/javascript'></script>
    <script language="javascript" type="text/javascript" src="javascript/underscore-min.js"></script>
    <script language="javascript" type="text/javascript" src="javascript/bootstrap-modal.js"></script>
    <script language="javascript" type="text/javascript" src="javascript/spin.min.js"></script>
    <script language="javascript" type="text/javascript" src="javascript/bootstrap-tabs.js"></script>

    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript">
      $(document).ready(function(){
        
        $('#location-name').autocomplete({
          source: "/locations.json",
          minLength: 2,  
          select: function (event, ui){
            $("#location_id").val(ui.item.id);
          }
        });
      });
    </script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" >

    <style type="text/css">
      html { height: 100%;}
      body { 
        height: 100%;
        background-color: black;
        color: white;
      }
    </style>
  </head>
  <body>
  <div class="container" style="color:white;">
    <div class="row">
      <h1 style="font-size: 6em; line-height: 1.5em; color:white; margin-bottom: 20px">A little closer...</h1>
      <div class="span8">
        <form method="POST" action="/events/update/<%= @event.id %>">
          <div id="suggested-location" style="padding: 15px;">
            <h2 style="color: white;">we think this is your location.</h2>
            <h2 style="color: white;">we're probably wrong.</h2>
            <p>(you can change it, we won't be offended)</p>
          </div>
          
          <div id="autocomplete-location" class="form-stacked" >
            <div class="clearfix">
              <label for="location-name" style="color:white;">Where?</label>
              <div class="input">
                <input name="location_name" id="location-name" class="xlarge" size="30" type="text" value="<%= @event.location.name %>"/>
                <input name="location_id" id="location_id" type="hidden" value="<%= @event.location.id %>" />
              </div>
            </div>
          </div>

          <div class="form-stacked">
            <div class="clearfix">
              <label for="band-name" style="color:white;">What?</label>
              <div class="input">
                <input name="event[band_name]" id="band-name" class="date xlarge" size="30" />
              </div>
            </div>

            <div class="clearfix">
              <label for="start-time-hours" style="color:white;">When?</label>
              <div class="input">
                <div class="inline-inputs">
                  <input name="event[start_date]" id="start-date" class="date large" size="30" />
                  <input name="event[start_time]" id="start-time" class="mini" value="12:00pm" size="30"/>
                </div>
              </div>
            </div>

            <div class="actions" style="background-color: black">
              <button class="btn large success submit primary">CLOSE ENOUGH</button>
              <a class="btn large nope" style="margin-left: 5px;">nope.</a>
            </div>
            </div>
        </form>
      </div>
        
      <div class="span4" style="padding: 10px;">
          <img src="<%= @event.flyer.thumb.url %>" />
      </div>
  </div>
  </body>
</html>
