<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script language="javascript" type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js' type='text/javascript'></script>
    <script language="javascript" type="text/javascript" src="javascript/underscore-min.js"></script>
    <script language="javascript" type="text/javascript" src="javascript/bootstrap-modal.js"></script>
    <script language="javascript" type="text/javascript" src="javascript/bootstrap-tabs.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDCEhOTsxuuXVPsHbA4rPofhK1azdoF7-M&sensor=true"></script>

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <style type="text/css">
      html { height: 100%;}
      body { height: 100%;}
    </style>

    <script id="infoTemplate" type="text/template">
      <ul class="tabs" data-tabs="tabs">
        <li class="active"><a href="#event">Event</a></li>
        <li><a href="#event-location">@ {{ name }} </a></li>
      </ul>

      <div class="pill-content">
        <div class="active" id="event">
          <img src="images/halloween.jpg" />
        </div>
        <div id="event-location">Location Info</div>
      </div>
    </script>

    <script type="text/javascript">

      var geocoder;
      var map;
      var markers = [];
      var testData;

      var test_locations = 
      { 
        "locations": 
          [
            {"name":"45 Tchoup", "lat":29.9355743, "lng":-90.08161630000001},
            {"name":"Igor's Buddha Belly Bar-Grill", "lat":29.917199, "lng":-90.103193},
            {"name":"Mel's Snoballs", "lat":29.912109, "lng":-90.05478},
            {"name":"Monkey Hill Bar", "lat":29.920983, "lng":-90.098914},
          ]
      }

      function loadTestLocations() {
        for (var i = 0; i < test_locations.locations.length; i++) {
          // render map marker
          markers.push( setLocMarker(test_locations.locations[i]) );
          attachInfoWindow(_.last(markers), test_locations.locations[i]);
        }
      } 

      function setLocMarker(loc) {
        locPos = new google.maps.LatLng(loc.lat,loc.lng);
        return new google.maps.Marker({
          map: map,
          animation: google.maps.Animation.DROP,
          position: locPos 
        });
      }

      function attachInfoWindow(marker, loc) {
        var infowindow = new google.maps.InfoWindow(
            { content: _.template($('#infoTemplate').html())(loc)
        });

        // when window is closed return to our previous position
        google.maps.event.addListener(infowindow, 'closeclick', function() {
          map.setCenter(lastPosition);
        });
        google.maps.event.addListener(marker, 'click', function() {
          lastPosition = marker.getPosition();
          infowindow.open(map,marker);
        });
      }

      function handleNoGeolocation(errorFlag) {
        if (errorFlag == true) {
          alert("Geolocation service failed.");
        } else {
          alert("Your browser doesn't support geolocation. We've placed you in Siberia.");
        }
        map.setCenter(initialLocation);
      }

      function initialize() {
        geocoder = new google.maps.Geocoder();
        var latlng = new google.maps.LatLng(29.9355743, -90.08161630000001);
        var myOptions = {
          zoom: 13,
          center: latlng,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

        // Try W3C Geolocation (Preferred)
        if(navigator.geolocation) {
          browserSupportFlag = true;
          navigator.geolocation.getCurrentPosition(function(position) {
            initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
            map.setCenter(initialLocation);
            console.log(initialLocation);
          }, function() {
            handleNoGeolocation(browserSupportFlag);
          });
        // Try Google Gears Geolocation
        } else if (google.gears) {
          browserSupportFlag = true;
          var geo = google.gears.factory.create('beta.geolocation');
          geo.getCurrentPosition(function(position) {
            initialLocation = new google.maps.LatLng(position.latitude,position.longitude);
            map.setCenter(initialLocation);
          }, function() {
            handleNoGeoLocation(browserSupportFlag);
          });
        // Browser doesn't support Geolocation
        } else {
          browserSupportFlag = false;
          handleNoGeolocation(browserSupportFlag);
        }

        //loadTestLocations();

      }

      function toggleBounce() {

        if (marker.getAnimation() != null) {
          marker.setAnimation(null);
        } else {
          marker.setAnimation(google.maps.Animation.BOUNCE);
        }
      }

      // ajax request for events given a date
      function reqEventsByDate() {
        $.get('events.json', {'startdate': $('#datepicker').datepicker('getDate')}, function(data) {
          //$('.result').html(data);
          alert('Load was performed.');
        });
        alert($('#datepicker').datepicker("getDate"));
      }
      
    </script>

    <script>
      $(document).ready(function() {

        _.templateSettings = {
          interpolate : /\{\{(.+?)\}\}/g
        };

        $('#post-img-modal').modal({
          keyboard: true,
          backdrop: true
        });

        $(function() {
          $( "#datepicker" ).datepicker();
        });
        $('ul > li > a').click(function() {
          $('ul >li > a').css('color', '#bfbfbf');
          $('#datepicker').css('border-color', 'black');
          $(this).css('color', '#ffffff');
        });
        $('#datepicker').click(function() {
          $('ul >li > a').css('color', '#bfbfbf');
          $(this).css('border-color', '#ffffff')
        });
        $('#datepicker').datepicker({
           onSelect: function(dateText, inst) { reqEventsByDate(); }
        });
        $('#today').click(function() {
          $('#datepicker').datepicker("setDate", new Date());
          reqEventsByDate();
        });
        $('#tomorrow').click(function() {
          $('#datepicker').datepicker("setDate", new Date(Date.now() + 86400000));
          reqEventsByDate();
        });

        // kick off ajax request for locations
        $.ajax({
          type: "GET",
          url: "events.json",
          dataType: "json", 
          success: function(data) {
            console.log('success');
            testData = data;

            _.each(data, function(evnt) { 
               markers.push( setLocMarker(evnt.event.location));
               attachInfoWindow(_.last(markers), evnt.event.location);
            });
          },
          error: function(data) {
            alert("server error :(");
          }
        }); 
        $('form .btn').click(function() {
          $(this).parents('form').submit();
        });
      });
    </script>
      
  </head>
  <body onload="initialize()">

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#"><strong>CLOSE // ENOUGH</strong></a>
          <ul class="nav">
            <li>
              <a href="#today" id="today">TODAY</a>
            </li>
            <li>
              <a href="#tomorrow" id="tomorrow">TOMORROW</a>
            </li>
          </ul>
          <div class="secondary-nav nav">
            <a class="btn primary large" data-controls-modal="post-img-modal" data-backdrop="static">Post Event</a>
          </div>
          <p><input type="text" id="datepicker"></p>
        </div>
      </div>
    </div>

    <div id="map_canvas" style="width:100%;height:100%;margin-top:40px;"></div>

    <div id="post-img-modal" class="modal hide fade">
      <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>Almost there...</h3>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <div class="input">
          <form method="post" action="events/new" enctype="multipart/form-data" name="imgUploadFrm">
            <input class="input-file" id="fileInput" name="flyer_img" type="file">
            <a href="#" class="btn large primary">Post</a>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>




